{% extends 'templates/site.twig' %}
{% block PageContent %}
    <div class="fixed">
        <div class="wrapper">
            <ul class="menu">
                <li><a href="#home">Home</a></li>
                <li><a href="#presale">Pre-sale</a></li>
                <li>
                        <img src="{{ root }}dist/img/logo.svg" class="logo">
                    </li>
                <li><a href="#uitleg">Uitleg</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
    <div class="hero">
        <div class="splash">
            <h1>Pre-sale</h1>
            <p>‘Maximaal inspelen <span class="nobr">van de markt’</span></p>
            <a href="#contact" class="button">Contact</a>
            <a href="#presale" class="button transparant">Meer weten</a>
        </div>
    </div>
    <div class="wrapper">
        <div class="waarom">
            <div><img src="{{ root }}/dist/img/lead.svg">
                <h3>
                    <span class="gestreept">Veel meer <br>
                        leads
                    </span></h3>
                <p>Optas solestissin <br>
                    eos fde dolen</p>
            </div>
            <div><img src="{{ root }}/dist/img/prijs.svg">
                <h3>
                    <span class="gestreept">Duidelijke <br>prijsbepaling</span></h3>
                <p>Optas solestissin <br>
                    eos wer dolen</p>
            </div>
            <div><img src="{{ root }}/dist/img/rendement.svg">
                <h3>
                    <span class="gestreept">Hoger <br> Rendement</span></h3>
                <p>quibusdam minima, deserunt nihil exercitationem</p>
            </div>
        </div>
    </div>
    <hr class="divider">
    <div class="samenvatting" id="presale">
        <div>
            <h2><span class="gestreept gestreept-links">Presale is</span></h2>
            <p>De pre-sale fase binnen een project is een methode om een ontwikkeld
                nieuwbouwproject te toetsen bij de eventuele koper. Bij de presale
                fase worden de woningtypes zichtbaar gemaakt met afbeeldingen,
                omschrijving en het verwachte prijsniveau. De informatie op
                bouwnummerniveau mist op dat moment nog. Door enkele maanden
                actief campagne te voeren wordt er een actueel beeld zichtbaar of
                het ontwikkelde product in lijn ligt met de vraag van de markt.</p>
            <p>Om uiteindelijk mee te bewegen kan er in deze fase besloten worden
                om het prijsniveau bij te stellen, de faseringen aan te passen of de
                woningtypes te veranderen. Als blijkt dat er helemaal geen vraag is
                naar het product kan je je afvragen of je in verkoop moet gaan of dat
                er een ander product dient te komen. De pre-sale fase geeft meer garantie
                voor betere verkoop.</p>
            <a href="#" class="button">Meer weten</a>
        </div>
        <div><img src="{{ root }}/dist/img/laptop.png"></div>
    </div>


    <div class="uitleg" id="uitleg">


            <div class="features">
                <div class="feature lead">
                    <div class="text"><h2><span class="gestreept gestreept-links">uitleg</span></h2>
                        <p>De pre-sale fase binnen een project is een methode om een ontwikkeld
                            nieuwbouwproject te toetsen bij de eventuele koper. Bij de presale
                            fase worden de woningtypes zichtbaar gemaakt met afbeeldingen,
                            omschrijving en het verwachte prijsniveau. De informatie op
                            bouwnummerniveau mist op dat moment nog.
                        </p></div>
                </div>

                <div class="feature">
                    <div class="text"><h2>Leads</h2>
                        <p>De pre-sale fase binnen een project is een methode om een ontwikkeld
                            nieuwbouwproject te toetsen bij de eventuele koper. Bij de presale
                            fase worden de woningtypes zichtbaar gemaakt met afbeeldingen,
                            omschrijving en het verwachte prijsniveau. De informatie op
                            bouwnummerniveau mist op dat moment nog.
                        </p></div>
                    <div class="icon"><img src="{{ root }}/dist/img/lead.svg"></div>
                </div>

                <div class="feature">
                    <div class="text">
                        <h2>Prijzen</h2>
                        <p>De pre-sale fase binnen een project is een methode om een ontwikkeld
                            nieuwbouwproject te toetsen bij de eventuele koper. Bij de presale
                            fase worden de woningtypes zichtbaar gemaakt met afbeeldingen,
                            omschrijving en het verwachte prijsniveau.
                        </p>
                    </div>
                    <div class="icon"><img src="{{ root }}/dist/img/prijs.svg"></div>
                </div>

                <div class="feature">
                    <div class="text"><h2>Grafieken</h2>
                        <p>De pre-sale fase binnen een project is een methode om een ontwikkeld
                            nieuwbouwproject te toetsen bij de eventuele koper.
                            omschrijving en het verwachte prijsniveau. De informatie op
                            bouwnummerniveau mist op dat moment nog.
                        </p>
                    </div>
                    <div class="icon"><img src="{{ root }}/dist/img/rendement.svg"></div>
                </div>
            </div>

    </div>








    <h2 class="sectieheader">Prijzen</h2>
    <hr class="divider">
    <div class="wrapper">
        <div class="prijzen">
            <div class="paneel">
                <div class="header"><h2>Basic</h2></div>
                <div class="prijs"><span>&euro;1296,-</span></div>
                <p>Eos wer dolenEhenimus. Nit ra sequi
                    vera venimus rate doloresti
                    iduciumet as molectatur solut fuga.
                    Lacesti aut adiciendio. Et es aut
                    Eos wer dolenEhenimus. Nit ra sequi
                    vera venimus rate doloresti
                    iduciumet as molectatur solut fuga.
                    Lacesti aut adiciendio. Et es aut
                    Eos wer dolenEhenimus.</p>
                <p><a href="" class="button grijs">Bestel</a></p>
            </div>
            <div class="paneel">
                <div class="header premium"><h2>Premium</h2></div>
                <div class="prijs"><span>&euro;1576,-</span></div>
                <p>Eos wer dolenEhenimus. Nit ra sequi
                    vera venimus rate doloresti
                    iduciumet as molectatur solut fuga.
                    Lacesti aut adiciendio. Et es aut
                    Eos wer dolenEhenimus. Nit ra sequi
                    vera venimus rate doloresti
                    iduciumet as molectatur solut fuga.
                    Lacesti aut adiciendio. Et es aut
                    Eos wer dolenEhenimus.</p>
                <p><a href="" class="button transparent">Bestel</a></p>
            </div>
        </div>
    </div>
    <h2 class="sectieheader">Contact</h2>
    <hr class="divider">
    <div class="formulier" id="contact">
        <form>
            <h3>Wij zullen zo spoedig mogelijk contact met jullie opnemen</h3>
            <p><input type="text" placeholder="Naam">
                <input type="text" placeholder="Telefoonnummer">
                <input type="text" placeholder="Email adres"></p>
            <p><a href="" class="button">Zoek contact</a></p>
        </form>
    </div>
    <div class="footer">
        <div class="wrapper">
            <div class="contactgegevens">
                <div class="social"><a href="#"><img src="{{ root }}dist/img/facebook.svg" alt=""></a>
                    <a href="#"><img src="{{ root }}dist/img/twitter.svg" alt=""></a></div>
                <div class="copyright"><a href="#">Powered by Fundament All Media</a></div>
            </div>
        </div>
    </div>
{% endblock PageContent %}